@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
  format('embedded-opentype'),
  url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
  format('woff2'),
  url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
  format('woff'),
  url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
  format('truetype'),
  url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
  format('svg');
}

.App {
  text-align: center;
  background-color: #555555;
  color: #fff;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  margin: 2em auto auto;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

#clear {
  grid-area: clear;
}

#divide {
  grid-area: divide;
}
#multiply{
  grid-area: multiply;
}
#seven{
  grid-area: seven;
}
#eight{
  grid-area: eight;
}
#nine{
  grid-area: nine;
}
#subtract{
  grid-area: subtract;
}
#four{
  grid-area: four;
}
#five{
  grid-area: five;
}

#six{
  grid-area: six;
}
#add{
  grid-area: add;
}
#one{
  grid-area: one;
}
#two{
  grid-area: two;
}
#three{
  grid-area: three;
}
#zero{
  grid-area: zero;
}

#decimal {
  grid-area: decimal;
}

#equals {
  grid-area: equals;
}


.keys {
  cursor: pointer;
  margin: .2em;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.1em;
  grid-template-areas:
    "clear clear divide multiply"
    "seven eight nine subtract "
    "four five six add"
    "one two three equals"
    " zero zero decimal equals"
;
}


#clear, .num, #decimal, .operator {
  background: #222222;
  border-radius: 10px;
  filter: drop-shadow(8px 6px 4px rgba(0, 0, 0, 0.25));

}

.first-section{
  display:flex;
  flex-direction: column;
  background-color: blue;
}

#clear {
  color: #FF4545
}

.operator{

  background: #FF4545;
  border-radius: 10px;
}

.num{

  background: #222222;
  border-radius: 10px;
}
.equal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #00992B;
  border-radius: 10px;
  filter: drop-shadow(8px 6px 4px rgba(0, 0, 0, 0.25));
}
#display{
  font-family: digital, monospace;
  margin:1em;
  width: auto;
  height: 140px;
  background: #222222;
  box-shadow: inset 0 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display:grid;
  grid-template-rows: 1fr 2fr;
  align-content: center;
  justify-items: end;
  align-items: center;
  grid-gap: 1em;
}
#answerDisplay{
  color: #00992B;
  font-size: 36px;
  margin-right: .7em;
  margin-top: .5em;
}
#inputDisplay{
  font-size: 48px;
  margin-right: .5em;
  margin-bottom: .5em;
}